html, body {
    max-width: 100%;
    overflow-x:hidden;
}

.footerbottom {
    /* position: fixed; */
    left:0;
    bottom:0;
    height:75px;
    width:100%;
    text-align:center
}

.backbutton {
    text-align:center
}

.navigationbar {
    display: flex;
    background-color: #CC0000
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: 0px;
    margin-left: 0px;
}